.searchContainer{
  display: flex;
  border-bottom: 1px solid #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px 0;
  color: #fff;

}
.searchContainer input, .searchContainer input::placeholder{
  color: #fff;
}
.searchContainer div:before,.searchContainer div:after{content: none !important;}
.searchIcon{
  align-self: flex-end;
  margin-bottom: 5px;
}